body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.main {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
}
.sidebar {
  width: 20px;
  display: flex;
  background-color: #eef2f6;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.right-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart {
  background-color: gray;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tracks {
  width: 100%;
  height: 100%;
  margin-left: 15px;

  /* background-color: lightskyblue; */
}
.footer {
  height: 20vh;
  align-items: space-between;
  width: 100vw;
  background-color: #2596be;
  display: flex;
  flex-direction: row;
}
img {
  height: 15vh;
}
.banner {
  display: flex;
  width: 20vw;
  align-items: center;
  background-color: inherit;
  justify-content: space-around;
  flex-direction: row;
}

.footer-buttons {
  width: 40vw;
  margin-left: 40vw;
  margin-right: 20px;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.album-image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.info {
  width: 50%;
  height: 100%;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td:nth-child(4) {
  display: inline-block;
  color: blue;
  border: 1px solid;
  padding: 0;
  margin-top: 7px;
}
